/* bpmn示例页面的css */
* {
  box-sizing: border-box;
}
body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin: 0;
}
.content,
.content > div {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
}